@using PU.Core.Models;
@model List<Group>
@{
    ViewData["Title"] = "Group Management Page";
}

<div class="text-center">
    <h1 class="display-4">Groups</h1>
    <div class="list row">

        <ul class="list-group">
            @foreach (var group in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @group.Name
                    <div>
                        <a class="btn btn-primary" asp-action="Update" asp-route-id="@group.Id">Details</a>
                        <a class="btn btn-primary" asp-action="Users" asp-route-id="@group.Id">Users</a>
                        <a class="btn btn-primary" asp-action="Permissions" asp-route-id="@group.Id">Permissions</a>
                        <a class="btn btn-danger delete-button" data-id="@group.Id">X</a>
                    </div>
                </li>
            }
        </ul>
        <a class="btn btn-success" asp-action="Add">Add</a>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $(".delete-button").click(function () {
                var id = $(this).data("id");
                $.post("/Group/Remove", { id: id }, function () {
                    window.location.reload();
                });
            });
        });
    </script>
}